body{
  background-image:url(../images/bg_pattern.png);
}

a img { border:none; }

div#contenido{
  background-color:#FFF;
  overflow:auto;
  width:1000px;
  margin:-10px auto;
  box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.5);
  padding:10px;
}

div.inset { text-shadow:#fff 0px 1px 0, #000 0 -1px 0;}

div#tituloHeader { line-height:1.5em; font-size:4em; font-weight:bold; color:#AE0800;} 

div#subtituloHeader { line-height:1em; font-size:1em; font-weight:bold; color:#AE0800; margin:-10px 0px 0px 33px;} 

div#header{
  height:100px;
}

h3#menuTitulo{
  background-color: #555555;
  color: #FFFFFF;
  height: 24px;
  margin: 0;
  text-align: center; 
}

#menu{
  background-color:#CCC;
  float:left;
  border: 3px solid;
  border-color:#555;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  -moz-box-shadow: 2px 1px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow: 2px 1px 3px rgba(0,0,0,0.5);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  margin: 15px 30px 20px 0px;
}

#yield{
  float:left;
  margin: 0px 0px 20px 0px;
  width:790px;
}

#footer{
  text-align:center;
}

ul.botones{
  list-style:none;
  padding:10px;
  margin:0px;
}

a.botones{
  display: inline-block;
  padding: 5px 10px 6px;
  color: #fff;
  margin:0px 0px 10px 0px;
  width:120px;
  text-align:center;
  text-decoration: none;
  font-weight: bold;
  line-height: 1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

a.botonon{
  background: #222 url(/images/botonon.png) repeat-x;
  text-shadow:inset 0 1px -1px rgba(0,0,0,0.5);
  border-top: -1px solid rgba(0,0,0,0.25);
  -moz-box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
}

a.botonoff{
  background: #222 url(/images/botonoff.png) repeat-x;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  border-bottom: 1px solid rgba(0,0,0,0.25);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

a.botones:link, a.botonoff:link {
  text-decoration:none;
}

a.botones:visited, a.botonoff:visited  {
  text-decoration:none;
}

a.botones:hover, a.botonoff:hover {
  color:#DDD;
  text-decoration:none;
}

a.botones:active, a.botonoff:active  {
  text-decoration:underline;
}

div.usuario{
  position:absolute;
  right:10px;
}

h1{

}

#loading{
  visibility:hidden;
}

.respuesta{
  border:1px solid;
  width:180px;
  padding:10px;
  height:100px;
  font-size:1.3em;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
}

.noticesuccess{
  background-color:#FFBABA;
  color:#D80000;
  border:1px solid;
  text-align:center;
  width:400px;
  padding:10px;
  height:15px;
  font-size:1.1em;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
}

.noticefail{
  background-color:#DFF2BF;
  color:#4F8A10; 
  border:1px solid;
  text-align:center;
  width:400px;
  padding:10px;
  height:15px;
  font-size:1.1em;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
}

#rechazado{
  background-color:#FFBABA;
  color:#D80000;
}

#aceptado{
  background-color:#DFF2BF;
  color:#4F8A10;  
}

#error{
  background-color:#FEEFB3;
  color:#9F6000;
}

#resultado{
  margin: -30px 0px 0px 65px;
}

.tooltip{
    position: absolute;
    padding:6px 8px 8px 8px;
    background:#222;
    z-index:10;
    display:inline-block; /*important*/
    /*font*/
    font-family:Verdana, Geneva, sans-serif;
    font-size:11px;
    line-height:16px;
    color:#fff;
    /*css3 rounded corners*/
    -moz-border-radius:5px;
    -khtml-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
    
#historial{
	text-align:center;
	border-collapse:collapse;
}

td.zebra{
	background-color:red;
}

#btnAgregar:hover{
	cursor:pointer;
}
