<div id="logo">
<div class="inset" id="tituloHeader">SEPAP</div>
<div id="subtituloHeader">//Sistema de Evaluación para el Aprendizaje de la Programación </div>
</div>
<div id="logoTec">
<%= image_tag "logoTEC.gif", :id=>"logoTec" %>
</div>
<hr />
