<h1>Historial de intentos</h1>

<table>
	<tr>
		<th> Problema </th>
		<th> Título </th>
		<th> Aceptado </th>
		<th> Rechazado </th>
		<th> Error de compilación </th>
		<th> Tiempo excedido </th>
	</tr>
</table>
