<h1>Problema nuevo</h1>

<%= render 'form' %>

<%= link_to 'Volver a la lista de problemas', problems_path, :confirm => 'Esta a punto de salir sin guardar sus cambios, presione OK para salir sin guardar el problema nuevo' %>
