<!--MENSAJE DE ERROR-->
<%- flash.each do |key, msg| -%>
	<%-if msg.length > 0-%>
		<div id="<%= key %>">
		<p style="float:right;"><%= link_to_function 'X', "Effect.Fade('#{key}')" %></p>
		<p><%= msg %></p>
		<div class="clear"></div>
		</div>
	<%-end-%>
<%- end -%>

<!--FIN DE MENSAJE DE ERROR-->


<h1>Bienvenido al SEPAP</h1>
<p> 
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam laoreet, lectus sed scelerisque placerat, quam leo porttitor sapien, et posuere nisi massa et lectus. Sed semper, odio bibendum laoreet volutpat, urna magna tempor massa, eget venenatis risus lorem quis magna. Sed vitae augue lorem. Sed id felis eros, eu euismod elit. Nulla fringilla elementum faucibus. Sed id lacus elit, sit amet tincidunt justo. Vivamus ornare ultrices erat, sed feugiat sem porta condimentum. Donec venenatis metus quis risus rutrum dignissim. Nam aliquam mauris at diam faucibus eu lacinia quam rutrum. Aenean ac mollis erat. Nullam vulputate eleifend ante at placerat.
</p>
<p>
Cras faucibus turpis ac diam vestibulum ut tempus urna tincidunt. Curabitur at lorem ac ante vulputate varius et sit amet magna. Mauris gravida pretium enim in dapibus. Vivamus purus libero, mattis eget rhoncus in, iaculis vitae nunc. Suspendisse sollicitudin, nulla ac hendrerit aliquet, nisi turpis venenatis libero, sit amet aliquam nisi est laoreet augue. Nullam lacinia pellentesque libero, quis dignissim ante facilisis in. Quisque mauris mauris, consequat vel placerat at, ultrices in est. Curabitur ultricies, tortor et ultrices posuere, dolor tellus sagittis lorem, vitae dictum magna mi non sapien. Aliquam lacinia, ipsum vel malesuada aliquet, tortor odio euismod massa, in euismod mi velit a lacus. Phasellus libero quam, fermentum ac ultrices id, aliquam nec eros. Proin orci felis, varius at tempor non, vulputate eu eros. Sed vitae adipiscing est. Phasellus lacinia pulvinar sapien, tempor ultrices ligula pharetra ut. In sit amet mauris erat. Phasellus convallis malesuada aliquam. Praesent nec nibh non dui convallis consequat. Donec ac leo libero. Nullam quis augue enim. Vestibulum viverra ullamcorper tempor. Quisque ac velit libero, in euismod lacus.
</p>
<p>
In nisl lectus, feugiat vitae hendrerit sed, laoreet a nulla. Donec eu purus ante, at consequat massa. Ut nec ipsum felis, pellentesque luctus diam. Morbi malesuada purus quis ipsum varius non suscipit est tempor. Sed lacinia lobortis magna nec mollis. Phasellus sodales commodo felis eu consectetur. Fusce eros sapien, facilisis in iaculis sed, vehicula nec dui. Maecenas varius vulputate urna, volutpat ultrices tellus faucibus eu. Suspendisse varius, tellus et hendrerit molestie, enim quam faucibus justo, a consectetur nisl diam quis quam. Morbi quis sem posuere diam pretium mattis ac quis neque. Pellentesque sit amet enim quam, quis dapibus metus. Phasellus leo nisi, ultricies sit amet blandit sit amet, iaculis et lectus. Vivamus porttitor sollicitudin lectus eu porttitor. Donec viverra venenatis metus, eu tristique ipsum interdum vel. Aliquam velit est, placerat hendrerit malesuada vel, ullamcorper et sapien.
</p>
<p>
Aliquam a arcu et augue molestie porttitor. Mauris congue gravida gravida. Duis venenatis rhoncus hendrerit. Duis vel libero ac lorem sagittis elementum. Nam quam diam, lacinia a egestas eget, pretium nec mauris. Vivamus convallis bibendum sem, sollicitudin commodo sapien egestas non. Sed in rutrum felis. Nulla consequat risus vitae velit condimentum blandit elementum neque porta. Fusce tempor vulputate lacus vel euismod. Integer at tellus ut felis vulputate commodo.
</p>
<p>
Quisque suscipit bibendum elit luctus suscipit. In est libero, bibendum ut laoreet eget, iaculis ac lacus. Praesent blandit ullamcorper lobortis. Phasellus aliquam ipsum in eros fermentum sollicitudin. Proin at lacus sit amet est euismod sagittis eu quis leo. Proin gravida velit vel sapien viverra pharetra. Aenean luctus congue tempor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus euismod ligula eu massa ultricies eget laoreet est tincidunt. Sed ultrices ipsum et purus consectetur aliquet. Sed pellentesque tincidunt urna, ut ultrices libero pulvinar nec. Pellentesque luctus tortor et arcu vestibulum tristique. Ut vel commodo nulla. Etiam non sem et arcu sagittis viverra. Nullam dui tortor, consectetur eget molestie nec, rutrum laoreet lectus. Maecenas facilisis quam id nibh pellentesque non porttitor mi eleifend. Nullam et augue mi, in dictum felis. In consectetur tempus est, a interdum enim facilisis eget. Mauris imperdiet erat eu lectus porta mollis.
</p>
<p>
Duis dapibus ultrices diam, a porttitor lacus mattis non. Sed dolor mauris, ultrices eget malesuada sed, lacinia ut eros. Suspendisse eget nibh risus, id mollis diam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In metus sem, aliquet quis ullamcorper quis, mattis a odio. Fusce convallis, mi id interdum vulputate, nulla nisl commodo quam, non porta turpis dui sit amet sem. In congue molestie felis quis gravida. Quisque venenatis nulla et erat pulvinar vestibulum. Integer nec volutpat dui. Integer scelerisque hendrerit nibh sit amet eleifend. Praesent congue pellentesque sapien at faucibus. Etiam id mi est. Quisque nibh metus, imperdiet fermentum eleifend ut, lacinia ut felis. Vestibulum vitae lectus turpis, ac volutpat nisi. Integer interdum pulvinar nulla nec laoreet. Suspendisse metus tellus, porta eu vehicula in, vehicula at quam.
</p>
<p>
Phasellus commodo tempor sagittis. Quisque scelerisque porttitor lorem, nec lacinia dui lobortis eu. Suspendisse venenatis, mauris tempor adipiscing convallis, odio tellus tempor metus, ornare commodo mauris metus faucibus quam. Nullam erat purus, iaculis molestie pellentesque nec, vulputate quis risus. Etiam eu diam dui, eget tempor est. Integer vel lacus dui. Proin sed gravida sapien. Integer lacinia neque lorem, id tristique dui. Etiam non ligula eget sapien porta congue. Sed in elit libero, ac auctor nisi. Donec vel dolor id est placerat venenatis ac vel sem. Nunc consequat fringilla vulputate. Curabitur id libero massa.
</p>
