<!--MENSAJE DE ERROR-->
<%- flash.each do |key, msg| -%>
	<%-if msg.length > 0-%>
		<div id="<%= key %>">
		<p style="float:right;"><%= link_to_function 'X', "Effect.Fade('#{key}')" %></p>
		<p><%= msg %></p>
		<div class="clear"></div>
		</div>
	<%-end-%>
<%- end -%>

<!--FIN DE MENSAJE DE ERROR-->


<h1>Bienvenido al SEPAP</h1>
<p> 
El Sistema de Evaluaci칩n para el Aprendizaje de la Programaci칩n es una herramienta creada por alumnos para incentivar el gusto y la pr치ctica de la programaci칩n. 
</p>
<p>

</p>
