<!--MENSAJE DE ERROR-->
<%- flash.each do |key, msg| -%>
	<%-if msg.length > 0-%>
		<div id="<%= key %>">
		<p style="float:right;"><%= link_to_function 'X', "Effect.Fade('#{key}')" %></p>
		<p><%= msg %></p>
		<div class="clear"></div>
		</div>
	<%-end-%>
<%- end -%>

<!--FIN DE MENSAJE DE ERROR-->


<h1 id="bienvenida">Bienvenido al SEPAP</h1>
<br/>
<h2>Guía rápida</h2>
<h3>Inicio</h3>
<p>Para comenzar a utilizar el Sistema de Evaluación para el Apredizaje de la Programación es recomendable leer esta guía rápida y seguir los siguientes pasos</p> 

<p>Ingresar al sistema y configurar cuenta de usuario
Para ingresar al SEPAP por primera vez:</p>
<ol>
    <li>Da click en la opción “Entrar” del Menú</li>
    <li>Ingresa tu matrícula en el campo correspondiente utlizando el formato 'A00123456'</li>
    <li>Ingresa tu contraseña en el campo correspondiente, dicha contraseña es igual a la
    matrícula en el formato 'a00123456' (En el caso de la contraseña si es importante que
    la 'a' sea minúscula)</li>


<p>Una vez dentro del sistema, es muy importante que lo primero que hagamos sea cambiar la contraseña
para evitar que alguien más pueda hacer mal uso de nuestras cuentas.</p>

<li>Da click en la opción “Editar perfil” del Menú</li>
<li>Escribir nueva contraseña en el campo correspondiente, así como la confirmación de la
misma y finalmente escribir nuestra contraseña actual, que inicialmente es la matrícula
(a00123456)</li>
</ol>

<h3>Para verificar la solución a un problema</h3>
<p>Una vez realizada la solución de un problema, es hora de utilizar el juez en línea que provee el SEPAP
para verificar si efectivamente nuestra solución es exitosa.</p>
<ol>
    <li>Da click en la opción “Subir solución” del Menú</li>
    <li>Aparecerá una forma en la que se ingresará el número de problema a resolver, el
    lenguaje de programación utilizado para resolver dicho problema, así como un campo
    donde tendrás que anexar el archivo con tu código fuente.</li>
    <li>Una vez completada la información anterior, hacer click en el botón de “Subir solución”</li>
    <li>Una vez terminado el proceso de verificación, aparecerá una nueva pantalla con el
    resultado a tu solución, así como una muestra del código fuente que fue utilizado y los
    errores de compilación del mismo en caso de existir.</li>
</ol>
<p> El resultado a tu solución puede caer en alguna de las siguientes clasificaciones:</p>

<ul>
    <li><b>ACEPTADO</b> –Tu solución fue exitosa y arrojó los resultados esperados</li>
    <li><b>RECHAZADO</b> – Tu solución compiló exitosamente pero los resultados arrojados no cumple con las especificaciones</li>
    <li><b>ERROR DE COMPILACIÖN</b> – Tu solución no pudo ser compilada en el servidor, posiblemente por errores de sintaxis</li>
    <li><b>TIEMPO EXCEDIDO</b> – Tu solución ha tardado más tiempo del esperado en ejecutarse, posiblemente
    por algún error de lógica (por ejemplo ciclos infinitos)</li>
</ul>

<h3>Para verificar el historial de soluciones a problemas anteriores</h3>
<p>En ocaciones es necesario verificar si un problema ya ha sido aceptado por el juez, para hacerlo
podemos seguir los siguientes pasos:</p>
<ol>
<li>Da click en la opción “Historial” del Menú</li>
<li>Aparecerá una tabla con los números de problema así como un resumen de los
resultados</li>
<li>Para ver cuál fue el resultado de nuestro último intento podemos dar click sobre el
número de problema, aparecerá una nueva pantalla con el último resultado así como el
código fuente utilizado.</li>
</ol>
