td.menu{
	vertical-align:top;
	min-width:150px;
	max-width:150px;
	background-color:#547da8;

}

td.boton{
	cursor:pointer;
	padding-left:5px;
	width:135px;
	border:2px solid;
	border-left:6px solid;
	border-color:#FFF;
	background-color:#7ea8a2;
	color:#FFF;
}
