# encoding: utf-8
<p>Hola <%= @resource.email %>!</p>


<p>
Han pedido cambiar la contraseña en SEPAP, sigue la liga de abajo para hacerlo.
</p>

<p><%= link_to 'Cambiar mi password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si tu no pediste esto, ignoralo.</p>
<p>Tu password no cambiará hasta que completes el proceso</p>
